.ouradvantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.ouradvantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1441px;

  @include for-medium-up {
    &__item:first-child {
      max-width: 540px;
    }

    &__item:nth-child(2) {
      max-width: 540px;
    }
  }

  @include for-large-up {
    &__item:first-child {
      margin-right: 20px;
    }

    &__item:nth-child(2) {
      margin-left: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FBFCFF;
    border-radius: 8px;
    min-height: 144px;
    flex-grow: 1;
    max-width: 340px;
    padding: 36px 32px 0 39px;
    margin-top: 20px;
    margin-left: 10px;

    &__text {
      font-size: 16px;
      line-height: 150%;
      color: #505973;
      margin-top: 17px;
    }
  }
}

.ouradvantages-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #333F63;
  margin-top: 120px;
  margin-bottom: 40px;

  @include for-medium-up {
    font-size: 38px;
    margin-top: 160px;
    margin-bottom: 60px;
  }
}
